<div class="navbar-noauth " >
<mat-toolbar >
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  
 <div class="nav-btn">
    <button mat-buttonmat-button routerLink = "/signup" class = "example-icon favorite-icon" arial-label="Example icon-button with heart icon">
      SIGNUP</button>
    <button mat-buttonmat-button routerLink = "/login" class = "example-icon favorite-icon" arial-label="Example icon-button with heart icon">
      LOGIN</button>
  </div>
</mat-toolbar>
</div>
<router-outlet></router-outlet>